body {
  background-color: #FFFFFF;
  color: green;
}

a {
  color: green;
}

.cont-menu {
  background-color: #FFFFFF;
}

.log {
  background-color: #FFFFFF;
}

.box {
  background-color: #FFFFFF;
}

.findeat {
  color: #FFFFFF;
  background: green;
}

.card {
  background-color: #FFFFFF;
}

.iconpointmap {
  background-color: #FFFFFF;
}

#footer {
  color: #FFFFFF;
  background-color: green;
}

.textreadmore {
  color: #FFFFFF;
}

.icosoc {
  color: #FFFFFF;
}

.endopction {
  color: #FFFFFF;
}

.navsettings {
  color: green;
}

.modbox {
  color: green;
}

.boxup > a {
  color: green;
}

.e1 {
  color: green;
}

.appclickmenu {
  color: green;
}
