$colFF:#FFFFFF;
body {
    background-color: $colFF;
}

.cont-menu {
    background-color: $colFF;
}

.log {
    background-color: $colFF;
}

.box {
    background-color: $colFF;
}

.findeat {
    color: $colFF;
}

.card {
    background-color: $colFF;
}

.iconpointmap {
    background-color: $colFF;
}

#footer {
    color: $colFF
}

.textreadmore {
    color: $colFF;
}

.icosoc {
    color: $colFF;
}

.endopction {
    color: $colFF;
}