body {
  background-color: #FFFFFF;
}

.cont-menu {
  background-color: #FFFFFF;
}

.log {
  background-color: #FFFFFF;
}

.box {
  background-color: #FFFFFF;
}

.findeat {
  color: #FFFFFF;
}

.card {
  background-color: #FFFFFF;
}

.iconpointmap {
  background-color: #FFFFFF;
}

#footer {
  color: #FFFFFF;
}

.textreadmore {
  color: #FFFFFF;
}

.icosoc {
  color: #FFFFFF;
}

.endopction {
  color: #FFFFFF;
}
