$colFF:#FFFFFF;
$colBlac:#0000;
body {
    background-color: $colFF;
    color: $colBlac;
}

a {
    color: $colBlac;
}

.cont-menu {
    background-color: $colFF;
}

.log {
    background-color: $colFF;
}

.box {
    background-color: $colFF;
}

.findeat {
    color: $colFF;
    background: $colBlac;
}

.card {
    background-color: $colFF;
}

.iconpointmap {
    background-color: $colFF;
}

#footer {
    color: $colFF;
    background-color: $colBlac;
}

.textreadmore {
    color: $colFF;
}

.icosoc {
    color: $colFF;
}

.endopction {
    color: $colFF;
}

.navsettings {
    color: $colBlac;
}

.modbox {
    color: $colBlac;
}

.boxup>a {
    color: $colBlac;
}

.e1 {
    color: $colBlac
}

.appclickmenu {
    color: $colBlac;
}