body {
  background-color: #FFFFFF;
  color: #000;
}

a {
  color: #000;
}

.cont-menu {
  background-color: #FFFFFF;
}

.log {
  background-color: #FFFFFF;
  padding: 8px 12px;
  border-radius: 500px;
  line-height: 16px;
  font-size: 14px;
  align-items: center;
}

.log p {
  margin: 0;
}

.box {
  background-color: #FFFFFF;
}

.findeat {
  color: #FFFFFF;
  background: #000;
}

.card {
  background-color: #FFFFFF;
}

.iconpointmap {
  background-color: #FFFFFF;
}

#footer {
  color: #FFFFFF;
  background-color: #000;
}

.textreadmore {
  color: #FFFFFF;
}

.icosoc {
  color: #FFFFFF;
}

.endopction {
  color: #FFFFFF;
}

.navsettings {
  color: #000;
}

.modbox {
  color: #000;
}

.boxup {
  line-height: 16px;
  font-size: 14px;
  margin-top: 24px;
}

.boxup a {
  color: #000;
  text-decoration-line: underline;
}

.e1 {
  color: #000;
}

.appclickmenu {
  color: #000;
  background-color: #EEEEEE;
}

.buttonapp {
  color: #000;
  background-color: #EEEEEE;
}

.logapptwo {
  background-color: #EEEEEE;
}

.androidicon {
  justify-content: center;
  align-items: center;
  display: flex;
  line-height: 24px;
  font-size: 18px;
}

.androidicon svg {
  height: 18px;
  width: 18px;
  fill: currentColor;
  flex: none;
  line-height: 24px;
  font-size: 18px;
  margin-right: 8px;
}

.image1 {
  background-color: #E2E2E2;
  padding-top: 55.970149253731336%;
  margin-bottom: 8px;
  width: 100%;
  position: relative;
}

.image1 img {
  width: 100%;
  left: 0;
  top: 0;
}

.footerapp {
  margin-bottom: 64px;
  display: flex;
}

.footerapp a {
  margin-right: 16px;
}

.footerapp a > img {
  height: 40px;
}

.menuappone {
  display: flex;
  align-items: center;
  bottom: 0;
}

.menuappone p {
  margin: 0;
}

.listmenu {
  list-style: none;
  padding-left: 0;
  margin: 24px 0;
}

.listmenu li {
  margin-bottom: 16px;
}

.listmenu li > a {
  margin: 12px 0;
  font-size: 14px;
  line-height: 16px;
}

.appclickmenu {
  background: #EEEEEE;
  border-radius: 500px;
  padding: 12px;
  line-height: 16px;
  font-size: 14px;
  color: #000000;
  display: flex;
  margin-bottom: 8px;
  margin-top: 16px;
  justify-content: center;
  width: auto;
  align-items: center;
  margin-right: 8px;
}

.appclickmenu a {
  align-items: center;
  display: flex;
}

.appclickmenu a > svg {
  width: 23px;
  margin-right: 5px;
}
