html,
body,
#root,
#wrapper {
    height: 100%;
}

body {
    background: #FFFFFF;
    color: #000000;
    font-family: UberMoveText-Regular, sans-serif;
    margin: 0;
    display: block;
    justify-content: center;
    overflow: auto;
}

input {
    outline: none;
    appearance: none;
    flex: 1;
    border: 0;
}

#wrapper {
    flex-direction: column;
    display: flex;
    min-width: 100%;
}

button {
    border-width: 0;
    padding: 0;
    margin: 0!important;
    background: transparent;
    font: inherit;
    color: inherit;
    letter-spacing: inherit;
}

a {
    text-decoration: none;
    color: #000000
}

.navsettings {
    z-index: 1;
    height: 72px;
    justify-content: flex-start;
    padding: 0 16px;
    margin: 0 auto;
    background: transparent;
    color: #000000;
    flex-direction: row;
    align-items: center;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
}

.menubuttonnav {
    width: 24px;
    height: 24px;
    align-items: center;
    cursor: pointer;
    display: flex;
    margin-right: 24px!important;
}

.headmenu {
    display: none;
    transition: opacity 0.4s ease-in-out 0s;
    opacity: 1;
    z-index: 4;
    left: 0;
    top: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(38, 38, 38, 0.8);
    margin: 0;
}

.cont-menu {
    background-color: #FFFFFF;
    transform: translateX(0px);
    opacity: 1;
    transition: all 0.40s ease-in-out;
    padding: 24px;
    width: 300px;
    max-width: 80%;
    flex-direction: column;
    box-shadow: 0px 0px 25px rgb(0 0 0 / 10%);
}

.setbuttonmenu {
    height: 20px;
    width: 20px;
}

.spacer_32 {
    width: 32px;
}

.spacer_24 {
    width: 24px;
}

.NamePagesUber {
    width: auto;
    height: 20px;
    display: flex;
}

.flex {
    flex: 1;
}

.log {
    padding: 8px 12px;
    border-radius: 500px;
    line-height: 16px;
    font-size: 14px;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgb(0 0 0 / 10%), 0px 4px 4px rgb(0 0 0 / 4%);
    align-items: center;
}

.log>p {
    margin: 0;
}

.logapptwo {
    padding: 8px 12px;
    border-radius: 500px;
    line-height: 16px;
    font-size: 14px;
    background: #EEEEEE;
    box-shadow: 0px 0px 8px rgb(0 0 0 / 10%), 0px 4px 4px rgb(0 0 0 / 4%);
    align-items: center;
    margin-right: 8px;
}

.fin {
    padding: 0 16px;
    position: relative;
    max-width: fit-content;
    z-index: 2;
    margin: 0 auto;
}

.findfixed {
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 3;
}

.hung {
    font-size: 36px;
    line-height: 44px;
    margin: 0;
    margin-bottom: 24px;
    font-weight: normal;
}

.padd {
    padding: 8px 0;
}

.box {
    box-shadow: inset 0px -1px 0px #e2e2e2;
    height: 56px;
    align-items: center;
    background-color: #FFFFFF;
    display: flex;
}

.iconmap {
    height: 48px;
    width: 48px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-left: 4px;
}

.iconmap>svg {
    width: 24px;
    height: 24px;
    flex: none;
}

.textbox {
    color: #545454;
    font-size: 16px;
    line-height: 24px;
}

.modbox {
    flex-grow: 1;
    line-height: 20px;
    display: flex;
    color: #000000;
}

.boxdown {
    margin-bottom: 16px;
}

.boxup {
    line-height: 16px;
    font-size: 14px;
    margin-top: 24px;
}

.boxup>a {
    text-decoration-line: underline;
    color: #000000;
}

.findeat {
    background: #000000;
    color: #FFFFFF;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    min-height: 32px;
    cursor: pointer;
    line-height: 24px;
    font-size: 18px;
    display: flex;
}

.presentation {
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 1;
}

.back {
    height: 90vh;
}

.app {
    margin-top: 32px!important;
    padding: 16px 0 0 0;
}

.card {
    margin: 0 16px;
    background-color: #FFFFFF;
    flex-direction: column;
    display: flex;
}

.itemcard {
    margin-bottom: 16px;
    align-items: center;
    display: flex;
}

.imgapp {
    height: 64px;
    width: 64px;
    border-radius: 15%;
    flex-shrink: 0;
    margin-right: 16px;
}

.apptext {
    line-height: 28px;
    font-size: 24px;
    margin: 0;
}

.buttonapp {
    width: 100%;
    background: #EEEEEE;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    min-height: 56px;
    line-height: 24px;
    cursor: pointer;
    font-size: 18px;
    letter-spacing: inherit;
    color: #000;
    margin-bottom: 48px!important;
}

.androidicon {
    justify-content: center;
    align-items: center;
    display: flex;
    line-height: 24px;
    font-size: 18px;
}

.androidicon>svg {
    height: 18px;
    width: 18px;
    fill: currentColor;
    flex: none;
    line-height: 24px;
    font-size: 18px;
    margin-right: 8px;
}

.layout {
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.e1 {
    margin-bottom: 12px;
    color: #000000;
}

.image1 {
    background-color: #E2E2E2;
    padding-top: 55.970149253731336%;
    margin-bottom: 8px;
    width: 100%;
    position: relative;
}

.imge1>img {
    width: 100%;
    left: 0;
    top: 0;
}

.imgdown {
    margin-bottom: 8px;
}

.oferttext1 {
    line-height: 32px;
    font-size: 24px;
    margin: 0;
    font-weight: normal;
}

.ofertbox {
    margin-bottom: 36px;
}

.ofertpressto {
    text-decoration-line: underline;
    margin: 0;
    margin-top: 4px;
    display: block;
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
}

.sizetitlemap {
    display: flex;
}

.maph2 {
    margin: 0;
}

.morecitysize {
    display: none;
    width: 55%;
    text-align: end;
    text-decoration-line: underline;
    justify-content: flex-end;
    align-items: center;
}

.fi {
    margin: 16px 0px;
}

.fj {
    height: 360px;
}

.amap {
    box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;
    border-radius: 50%;
    transform: translate3d(0px, 0px, 0px);
    transition: all 300ms ease 0s;
    height: 30px;
    width: 30px;
    display: block;
    box-sizing: border-box;
}

.iconpointmap {
    border-radius: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
}

.citys {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 16px 8px;
    grid-auto-flow: column;
    display: grid;
}

.city {
    font-size: 16px;
    line-height: 24px;
}

.morecity {
    text-decoration: underline;
    line-height: 20px;
    font-size: 16px;
    margin-bottom: 48px;
}

.citysh2 {
    line-height: 32px;
    font-size: 24px;
    margin: 0;
    font-weight: normal;
    margin-bottom: 24px;
}

.sizecitys {
    display: none;
}

.spacecity {
    height: 24px;
}

.spacecity2 {
    height: 48px;
}

#footer {
    margin-top: 64px;
    padding: 64px 16px 80px;
    background-color: #000000;
    color: #FFFFFF;
}

.footerlayout {
    display: flex;
}

.UberBay {
    width: 146px;
    height: 24px;
    margin-bottom: 48px;
}

.footerapp {
    margin-bottom: 64px;
    display: flex;
}

.footerapp>a {
    margin-right: 16px;
}

.readmore {
    display: flex;
    flex-direction: column;
    margin-bottom: 64px;
}

.footerapp>a>img {
    height: 40px;
}

.aboutfooter {
    margin-bottom: 24px!important;
}

.noaboutfooter {
    margin-bottom: 0!important;
}

.textreadmore {
    font-size: 16px;
    margin-bottom: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.langicon {
    margin-right: 8px;
    height: 16px;
    width: 16px;
    flex: none;
    font-size: 16px;
    fill: currentColor;
}

.hrfooter {
    background-color: #F6F6F6;
    margin: 40px 0;
    height: 1px;
    border: none;
}

.socialapp {
    margin-bottom: 40px;
    flex-direction: row;
    display: flex;
}

.socialiconapp {
    display: flex;
}

.icosoc {
    fill: currentColor;
    height: 16px;
    width: 16px;
    flex: none;
    color: #FFFFFF;
    margin-right: 24px;
}

.sizebox {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 2;
}

.sizeiconappbut {
    height: 16px;
    width: 16px;
}

.end {
    margin-bottom: 40px;
}

.endopction {
    line-height: 20px;
    font-size: 14px;
    color: #FFFFFF;
}

.set1:hover {
    text-decoration-line: underline;
}

.set1 {
    margin-bottom: 16px;
    display: flex;
}

.and {
    margin-bottom: 16px;
}

.f5:hover {
    text-decoration-line: underline;
}

.hop {
    flex: 1;
}

.gm-style {
    font: 400 11px Roboto, Arial, sans-serif;
    text-decoration: none;
}

.gm-style-pbc {
    transition: opacity ease-in-out;
    background-color: rgba(0, 0, 0, 0.45);
    text-align: center;
}

.cont-menu-text {
    min-height: calc(100vh - 72px);
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.menuiconapp {
    border-radius: 15%;
    height: 56px;
    width: 56px;
    margin-right: 16px;
}

.menuappone {
    display: flex;
    align-items: center;
    bottom: 0;
}

.menuappone>p {
    margin: 0;
}

.listmenu {
    list-style: none;
    padding-left: 0;
    margin: 24px 0;
}

.listmenu>li {
    margin-bottom: 16px;
}

.listmenu>li>a {
    margin: 12px 0;
    font-size: 14px;
    line-height: 16px;
}

.appclickmenu {
    background: #EEEEEE;
    border-radius: 500px;
    padding: 12px;
    line-height: 16px;
    font-size: 14px;
    color: #000000;
    display: flex;
    margin-bottom: 8px;
    margin-top: 16px;
    justify-content: center;
    width: auto;
    align-items: center;
    margin-right: 8px;
}

.sizebutapp {
    display: none;
    margin: auto 0;
}

.appclickmenu>a>svg {
    width: 23px;
    margin-right: 5px;
}

.appclickmenu>a {
    align-items: center;
    display: flex;
}

@media only screen and (min-width: 768px) {
    .navsettings {
        height: 96px;
        padding: 0 40px;
        margin: 0;
        min-width: 1024px;
        max-width: 1920px;
    }
    .menubuttonnav {
        width: 24px;
        height: 24px;
        align-items: center;
        margin-right: 32px!important;
    }
    .NamePagesUber {
        height: 24px;
        width: 146px;
    }
    .back {
        height: 80vh;
        height: 75vh;
    }
    .log {
        line-height: 24px;
        font-size: 18px;
        z-index: 2;
        align-items: center;
        text-align: center;
        justify-content: center;
        width: auto;
    }
    .log>p {
        padding: 12px 16px;
    }
    .fin {
        width: 100%;
        padding: 0 40px;
        margin: 0 auto;
        min-width: 1024px;
        max-width: 1920px;
        box-sizing: border-box;
    }
    .sizeboxfind {
        display: inline-flex;
        align-items: center;
    }
    .sizelink {
        margin-right: 8px;
    }
    .boxx {
        min-width: 500px;
    }
    .boxdown {
        margin: 0;
    }
    .hung {
        max-width: 75%;
        margin-bottom: 40px;
        font-family: UberMove-Bold, sans-serif;
        line-height: 64px;
        font-size: 52px;
        margin: 0;
        font-weight: normal;
        margin-bottom: 40px;
    }
    main {
        margin-top: 80px;
    }
    .ofertbox {
        display: inline-block;
        padding: 0 12px;
        margin-bottom: 80px;
    }
    .app {
        margin-top: 80px!important;
    }
    .sizeappinfo {
        justify-content: center;
    }
    .itemcard {
        margin: 0;
        margin-right: 8px;
    }
    .imgapp {
        width: 80px;
        height: 80px;
    }
    .sizecardimg {
        display: inline-flex;
        width: 100%;
        justify-content: center;
    }
    .sizeheadappdiv {
        display: flex;
        justify-content: center;
        margin-bottom: 80px;
    }
    .sizeheadappdiv>a {
        justify-content: center;
    }
    .sizeimglayout {
        display: inline-block!important;
    }
    .sizesizeimg {
        width: 405px;
        height: 225px;
    }
    .morecitysize {
        display: flex;
    }
    .morecity {
        display: none;
    }
    .maph2 {
        line-height: 44px;
        font-size: 36px;
        width: 50%;
    }
    .sizemarginmap {
        margin: 0 24px;
    }
    .spacecity2 {
        display: none;
    }
    .sizebutapp {
        display: flex;
    }
    .disbay {
        display: none;
    }
    .citys {
        display: none;
    }
    .sizecitys {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 24px;
        grid-auto-flow: column;
        display: grid;
        margin-top: 24px;
    }
    .citysh2 {
        line-height: 44px;
        font-size: 36px;
        margin: 0;
        font-weight: normal;
    }
    .spacecity {
        height: 80px;
    }
    .sizefooterup {
        display: flex;
    }
    .partonesizefooter {
        flex: 2;
        justify-content: space-between;
    }
    .readmore {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin-bottom: 0;
    }
    .sizelayoutfootoer {
        display: flex;
    }
    .socialapp {
        height: 25px;
        margin-bottom: 0px;
    }
    .sizepoliticalset {
        justify-content: flex-end;
    }
    .set1 {
        margin-left: 40px;
    }
    .end {
        width: 100%;
    }
    .sizeendtechinic {
        justify-content: space-between;
    }
    .footerapp {
        margin-bottom: 0;
        margin-top: 110px;
    }
}