html,
body,
#root,
#wrapper {
    height: 100%;
}

body {
    background: #FFFFFF;
    color: #000000;
    font-family: UberMoveText-Regular, sans-serif;
    margin: 0;
    display: block;
    justify-content: center;
    overflow: auto;
}

#wrapper {
    flex-direction: column;
    display: flex;
    min-width: 100%;
}

button {
    border-width: 0;
    padding: 0;
    margin: 0!important;
    background: transparent;
    font: inherit;
    color: inherit;
    letter-spacing: inherit;
}

a {
    text-decoration: none;
    color: #000000
}

.navsettings {
    z-index: 1;
    height: 72px;
    justify-content: flex-start;
    padding: 0 16px;
    margin: 0 auto;
    background: transparent;
    color: #000000;
    position: absolute;
    flex-direction: row;
    align-items: center;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
}

.menubuttonnav {
    width: 24px;
    height: 24px;
    align-items: center;
    cursor: pointer;
    display: flex;
}

.scrollmenu {
    opacity: 0;
    overflow-y: hidden;
    z-index: 4;
    left: 0;
    top: 0;
    position: fixed;
    flex-direction: row;
    height: 0;
    width: 0;
    background: rgba(38, 38, 38, 0.8);
    display: flex;
}

.scrollmenu2 {
    transition: opacity 0.4s ease-in-out 0s;
    opacity: 1;
    width: 100%;
    height: 100%;
    z-index: 4;
    overflow-y: hidden;
    left: 0;
    top: 0;
    position: fixed;
    flex-direction: row;
    background: rgba(38, 38, 38, 0.8);
}

.headmenu {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 24px;
    box-shadow: 0px 0px 25px rgb(0 0 0 / 10%);
    width: 300px;
    max-width: 80%;
    color: #000000;
    transform: translateX(-300px);
    opacity: 0;
    flex-direction: column;
}

.headmenu2 {
    transform: translateX(0px);
    opacity: 1;
    transition: all 0.40s ease-in-out;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 24px;
    box-shadow: 0px 0px 25px rgb(0 0 0 / 10%);
    box-sizing: border-box;
    width: 300px;
    max-width: 80%;
    color: #000000;
    flex-direction: column;
}

.setbuttonmenu {
    height: 20px;
    width: 20px;
}

.spacer_32 {
    width: 32px;
}

.spacer_24 {
    width: 24px;
}

.NamePagesUber {
    width: auto;
    height: 20px;
    display: flex;
}

.flex {
    flex: 1;
}

.log {
    padding: 8px 12px;
    border-radius: 500px;
    line-height: 16px;
    font-size: 14px;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgb(0 0 0 / 10%), 0px 4px 4px rgb(0 0 0 / 4%);
}

.fin {
    top: 104px;
    padding: 0 16px;
    position: absolute;
}

.hung {
    font-size: 36px;
    line-height: 44px;
    margin: 0;
    margin-bottom: 24px;
    font-weight: normal;
}

.padd {
    padding: 8px 0;
}

.box {
    box-shadow: inset 0px -1px 0px #e2e2e2;
    height: 56px;
    align-items: center;
    background-color: #FFFFFF;
    display: flex;
}

.iconmap {
    height: 48px;
    width: 48px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-left: 4px;
}

.iconmap>svg {
    width: 24px;
    height: 24px;
    flex: none;
}

.textbox {
    color: #545454;
    font-size: 16px;
    line-height: 24px;
}

.modbox {
    flex-grow: 1;
    line-height: 20px;
    display: flex;
    color: #000000;
}

.boxdown {
    margin-bottom: 16px;
}

.boxup {
    line-height: 16px;
    font-size: 14px;
    margin-top: 24px;
}

.boxup>a {
    text-decoration-line: underline;
    color: #000000;
}

.findeat {
    background: #000000;
    color: #FFFFFF;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    min-height: 32px;
    cursor: pointer;
    line-height: 24px;
    font-size: 18px;
    display: flex;
}

.presentation {
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
}

.back {
    height: 100vh;
}

.app {
    margin-top: 32px!important;
    padding: 16px 0 0 0;
}

.card {
    margin: 0 16px;
    background-color: #FFFFFF;
    flex-direction: column;
    display: flex;
}

.itemcard {
    margin-bottom: 16px;
    align-items: center;
    display: flex;
}

.imgapp {
    height: 64px;
    width: 64px;
    border-radius: 15%;
    flex-shrink: 0;
    margin-right: 16px;
}

.apptext {
    line-height: 28px;
    font-size: 24px;
    margin: 0;
}

.buttonapp {
    width: 100%;
    background: #EEEEEE;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    min-height: 56px;
    line-height: 24px;
    cursor: pointer;
    font-size: 18px;
    letter-spacing: inherit;
    color: #000;
    margin-bottom: 48px!important;
}

.androidicon {
    justify-content: center;
    align-items: center;
    display: flex;
    line-height: 24px;
    font-size: 18px;
}

.androidicon>svg {
    height: 18px;
    width: 18px;
    fill: currentColor;
    flex: none;
    line-height: 24px;
    font-size: 18px;
    margin-right: 8px;
}

.layout {
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.e1 {
    margin-bottom: 12px;
    color: #000000;
}

.image1 {
    background-color: #E2E2E2;
    padding-top: 55.970149253731336%;
    margin-bottom: 8px;
    width: 100%;
    position: relative;
}

.imge1>img {
    width: 100%;
    left: 0;
    top: 0;
}

.imgdown {
    margin-bottom: 8px;
}

.oferttext1 {
    line-height: 32px;
    font-size: 24px;
    margin: 0;
    font-weight: normal;
}

.ofertbox {
    margin-bottom: 36px;
}

.ofertpressto {
    text-decoration-line: underline;
    margin: 0;
    margin-top: 4px;
    display: block;
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
}

.maph2 {
    margin-bottom: 0;
}

.fi {
    margin: 16px 0px;
}

.fj {
    height: 360px;
}

.amap {
    box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;
    border-radius: 50%;
    transform: translate3d(0px, 0px, 0px);
    transition: all 300ms ease 0s;
    height: 30px;
    width: 30px;
    display: block;
    box-sizing: border-box;
}

.iconpointmap {
    border-radius: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
}

.citys {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 16px 8px;
    grid-auto-flow: column;
    display: grid;
}

.city {
    font-size: 16px;
    line-height: 24px;
}

.morecity {
    text-decoration: underline;
    line-height: 20px;
    font-size: 16px;
    margin-bottom: 48px;
}

.citysh2 {
    line-height: 32px;
    font-size: 24px;
    margin: 0;
    font-weight: normal;
    margin-bottom: 24px;
}

.spacecity {
    height: 24px;
}

#footer {
    margin-top: 64px;
    padding: 64px 16px 80px;
    background-color: #000000;
    color: #FFFFFF;
}

.footerlayout {
    display: flex;
}

.UberBay {
    width: 146px;
    height: 24px;
    margin-bottom: 48px;
}

.footerapp {
    margin-bottom: 64px;
    display: flex;
}

.footerapp>a {
    margin-right: 16px;
}

.readmore {
    display: flex;
    flex-direction: column;
    margin-bottom: 64px;
}

.footerapp>a>img {
    height: 40px;
}

.aboutfooter {
    margin-bottom: 24px!important;
}

.noaboutfooter {
    margin-bottom: 0!important;
}

.textreadmore {
    font-size: 16px;
    margin-bottom: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.langicon {
    margin-right: 8px;
    height: 16px;
    width: 16px;
    flex: none;
    font-size: 16px;
    fill: currentColor;
}

.hrfooter {
    background-color: #F6F6F6;
    margin: 40px 0;
    height: 1px;
    border: none;
}

.socialapp {
    margin-bottom: 40px;
    flex-direction: row;
    display: flex;
}

.socialiconapp {
    display: flex;
}

.icosoc {
    fill: currentColor;
    height: 16px;
    width: 16px;
    flex: none;
    color: #FFFFFF;
    margin-right: 24px;
}

.sizebox {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 2;
}

.end {
    margin-bottom: 40px;
}

.endopction {
    line-height: 20px;
    font-size: 14px;
    color: #FFFFFF;
}

.set1 {
    margin-bottom: 16px;
    display: flex;
}

.and {
    margin-bottom: 16px;
}

.hop {
    flex: 1;
}

.gm-style {
    font: 400 11px Roboto, Arial, sans-serif;
    text-decoration: none;
}

.gm-style-pbc {
    transition: opacity ease-in-out;
    background-color: rgba(0, 0, 0, 0.45);
    text-align: center;
}